{% extends 'layouts/index.html'%}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <center>
                <h1 style="margin-top: 1%">Bienvenid@</h1>
                <h5 style="margin-top: 1%">MailTic la plataforma de mensajeria electrónica que le permitirá conectarse con sus amigos.</h5>
                <img src="{{ url_for('static', filename='img/img_welcome.svg') }}" alt="welcome" width="50%" style="margin-top: 2%; margin-bottom: 2%;">
                
            </center>
        </div>

    </div>
{% endblock content%}