<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <title> MailTic </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.min.css') }}" rel="stylesheet">
</head>

<body style="background:#5e636e"> 

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark"> 
                <div class="navbar-header" data-logobg="skin5">
                    <a class="navbar-brand" href="/" style="margin-left:20%">
                        <h3>MailTic</h3>
                    </a>
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>               
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-start me-auto"></ul>
                    <ul class="navbar-nav float-end">                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off me-1 ms-1"></i> Logout</a>                                 
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='img/img_home.svg') }}" alt="home" width="80%" style="margin-left: 10%">
                <h3 style="margin-left: 10%; color:white; margin-top: 5%;">MailTic la plataforma de mensajeria que le permitirá comunicarse con sus amigos. Registrate y vive la experiencia!!</h3>
            </div>
            <div class="col-md-3">
                <div class="card" style="margin-top: 10%;">
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="alert {{ colorAlert }}" role="alert">
                                {% if colorAlert == 'alert-danger' %}
                                    <h4 class="alert-heading">Error !</h4>
                                {% else  %}
                                    <h4 class="alert-heading">Exito !</h4>
                                {% endif %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                    <li> {{ message }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        {% endwith %}
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> 
                                <a class="nav-link active" data-bs-toggle="tab" href="#SignIn" role="tab">
                                    <span class="hidden-sm-up"></span> 
                                    <span class="hidden-xs-down">Iniciar sesión</span>
                                </a> 
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link" data-bs-toggle="tab" href="#SignUp" role="tab">
                                    <span class="hidden-sm-up"></span> 
                                    <span class="hidden-xs-down">Registrarse</span>
                                </a> 
                            </li>
                        </ul>
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="SignIn" role="tabpanel">
                                <div class="p-20">
                                    <form class="form-horizontal mt-3" id="loginform" action="" method="post">
                                        {{ formLogin.hidden_tag() }}
                                        <div class="row pb-4">
                                            <div class="col-12">
                                                {{ formLogin.email.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-success text-white h-100" id="basic-addon1"><i class="ti-user"></i></span>
                                                    </div>
                                                    {{ formLogin.email(class="form-control form-control-lg", placeholder="jhon.doe@uninorte.edu.co") }}
                                                </div>
                                                {{ formLogin.password.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-warning text-white h-100" id="basic-addon2"><i class="ti-pencil"></i></span>
                                                    </div>
                                                    {{ formLogin.password(class="form-control form-control-lg", placeholder="***************") }}
                                                </div>

                                                {{ formLogin.remember(class="form-check-input") }}  {{ formLogin.remember.label }} 
                                            </div>
                                        </div>
                                        <div class="row border-top border-secondary">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="pt-3">
                                                        <button class="btn btn-info" id="to-recover" type="button"><i class="fa fa-lock me-1"></i> Olvido su contraseña?</button>
                                                        {{ formLogin.submit(class="btn btn-success float-end text-white")  }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="tab-pane p-20" id="SignUp" role="tabpanel">
                                <div class="p-20">
                                    <form class="form-horizontal mt-3" id="registerform" action="{{ url_for('add_user') }}" method="POST" >
                                        {{ formRegister.hidden_tag() }}
                                        <div class="row pb-4">
                                            <div class="col-12">
                                                {{ formRegister.name.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-success text-white h-100" id="basic-addon1"><i class="ti-user"></i></span>
                                                    </div>
                                                    {{ formRegister.name(class="form-control form-control-lg", placeholder="Jhon Doe") }}
                                                </div>
                                                <!-- email -->
                                                {{ formRegister.email.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-danger text-white h-100" id="basic-addon1"><i class="ti-email"></i></span>
                                                    </div>
                                                    {{ formRegister.email(class="form-control form-control-lg", placeholder="jhon.doe@uninorte.edu.co") }}
                                                </div>
                                                {{ formRegister.password.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-warning text-white h-100" id="basic-addon2"><i class="ti-pencil"></i></span>
                                                    </div>
                                                    {{ formRegister.password(class="form-control form-control-lg", placeholder="***********") }}
                                                </div>
                                                {{ formRegister.confirmPassword.label(class="text-end control-label col-form-label") }}
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-info text-white h-100" id="basic-addon2"><i class="ti-pencil"></i></span>
                                                    </div>
                                                    {{ formRegister.confirmPassword(class="form-control form-control-lg", placeholder="***********") }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row border-top border-secondary">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="pt-3 d-grid">
                                                        {{ formRegister.submit(class="btn btn-block btn btn-info") }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
             <div class="col-md-1">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>    
</body>

</html>


